.gridcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    /* border-style: solid; */
}

.griditem{
    /* font-size: 30px; */
    text-align: center;
    /* border-style: solid; */
}

.paragraph{
    /* font-size: 14px;
    color: #5a5a5a;
    font-weight: 300;
    line-height: 25px; */
    margin: 10px;
}