.productcardwrapper{  
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    margin: 5px;
    height: 250px; 
    width: 250px;
    overflow: hidden;
    position: relative;
}




