.image {
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.productswrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
