.container{
    display: flex;
    
}
.div {
    flex: 1;
    width: 50%;
    box-sizing: border-box;
    border: 1px solid #ccc; /* İsteğe bağlı: sınırları göstermek için bir çizgi ekleyebilirsiniz */
  }
.productswrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
